<!DOCTYPE html>
<html>
    <title>Backstone Initialization</title>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/backbone.js/1.2.1/backbone-min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css">
</html>
<body>
    <h2>{{ title }}</h2>
    <script type="text/javascript" src="js/negai.js"></script>
</body>
