<!DOCTYPE html>
<html>
    <title>Backstone Initialization</title>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/backbone.js/1.2.1/backbone-min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css">
    <body>
        <h2>{{ title }}</h2>
        <a href="#post/inter">post</a><br/>
        <a href="#wytiny">gettiny</a><br/>
        <a href="#download/en">post</a><br/>
        <a href="#trigger">trigger</a><br/>
        <div id="com_container"></div>
        <script type="text/template" id="template" src="/static/js/template.js"></script>
        <script type="text/javascript" src="/static/js/negai.js"></script>
        <script type="text/javascript" src="/static/js/route.js"></script>
        <script type="text/javascript" src="/static/js/view.js"></script>
    </body>
</html>

